/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Open Sans", serif;
  background-color: #1d2f30;
}

header {
  background-color: #1d2f30;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
}
.logo-href {
}
.list-wrapper {
}
.list {
  color: white;
  display: flex;
  gap: 64px;
  margin-right: 170px;
}
.list-item {
}
.search-and-login {
  display: flex;
  gap: 64px;
}

.main-bg {
  background: linear-gradient(#0a0a0a7d, #0a0a0a7d), url(../img/main-bg.png);
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Черный цвет с 50% прозрачности */
}

.collection {
  padding-top: 115px;
  color: white;
}
.collection-title {
  margin-bottom: 16px;
  font-size: 60px;
  font-weight: bold;
  font-family: "Cormorant", serif;
  width: 688px;
}
.collection-description {
  width: 635px;
  line-height: 150%;
  margin-bottom: 24px;
}

.read{
  color: black;
}
.collection-href {
  color: #bae249;
  position: relative;
  display: inline-flex; /* Flexbox для текста и стрелки */
  align-items: center;
}
.arrow-wrapper {
  display: flex;
  align-items: center;
}

.collection-text {
  margin-right: 8px;
  transition: 0.9s ease;
}

.collection-arrow {
  transition: filter 0.9s ease;
}

.arrow-wrapper:hover .collection-arrow,
.arrow-wrapper:hover .collection-text {
  filter: brightness(70%);
}
.slider-item {
  width: 255px;
  border: 1px solid black;
  border-top: 0;
}

.bg-for-img {
  background-color: #0b1919;
  position: relative;
}

.img {
  padding: 30px 16px;
}

.slider-wrapper {
  padding-top: 60px;
  padding-bottom: 57px;
  width:1150px;
  margin: 0 auto; /* Ширина контейнера Swiper */
  overflow: hidden;
}

.num-img {
  position: absolute;
  left: 16px;
  top: 16px;
}
.description-head {
  font-family: "Cormorant", serif;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
}

.description {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}

.subdescription {
  color: #899d9d;
  line-height: 150%;
}

.slider-btn {
  color: #bae249;
  border: solid #bae249 1px;
  padding: 10px 28px;
  margin-top: 16px;
}

.arrow {
  position: absolute;
}

.left-arrow {
    right: 51%;
}
.right-arrow {
    left: 51%;
}

.new-artifacts {
  margin-top: 49px;
}

.new-artifacts__wrapper {
}
.new-artifacts__head {
}
.new-artifacts__image-and-kurishce {
}
.new-artifacts-bg-image {
  background-image: url(../img/Rectangle\ 2.jpg);
  width: 840px;
  height: 493px;
}
.first-line {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  padding-top: 20px; 
}
.img-container {
}
.second-line {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}
.new-artifacts-kurishce {
}

.moss{
  margin-left: 10px;
}

.layer32{
  margin-right: 16px;
}

.new-artifacts__image-and-kurishce-wrapper{
  display: flex;
  justify-content: space-between;
  gap:30px
}

.kurishce{
  background-color: #BAE249;
  height: 493px;
  width: 255px;
  color: #506829;
}

.kurishce {
}
.kurishce__title {
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 18px;
  color: black;
}
.kurische__description {
  margin-bottom: 60px;
  line-height: 150%;
}

.kurishce{
  padding: 0 16px;
}

.tendention{
  margin-bottom: 33px ;
}

.help-project {
  margin-top: 60px;
}
.help-project__bg {
  background: linear-gradient(#0a0a0a7d, #0a0a0a7d), url(../img/bg2.png);
  height: 463px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.help-project__description {
  color: white;
  padding-top: 60px;

}
.help-project__title {
  font-size: 48px;
  font-family: "Cormorant", serif;
  font-style: italic;
  font-weight: bold;
}
.help-project__subdescription {
  margin-top:16px;
  width: 825px;
  margin-bottom: 24px;
}

.help-description__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}
.name {
}
.input-name {
  background-color: white;
  height: 45px;
  width: 350px;
  padding: 10px 16px;
}
.email {
}
.input-email {
  background-color: white;
  height: 45px;
  width: 350px;
  padding: 10px 16px;
}

.help-project__btn{
  font-weight: bold;
  color: #0B1919;
  background-color:#BAE249;
  padding: 12px 26px;
}

.footer {

}
.socials {
  text-align: center;
  padding: 18px 0;
}
.socials-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
}
.socials-item {
}

.youtube{
  height: 24px;
  width: 24px;
}

.swiper-pagination{
  position: absolute;
  top: 1170px
}

.custom-swiper-button-next{
  position: absolute;
  top: 1180px;
  right:45%;
}

.custom-swiper-button-prev{
  position: absolute;
  top: 1180px;
  left: 45%;
  
}

.custom-swiper-button-next:hover, .custom-swiper-button-prev:hover{
  filter: invert(10%) sepia(30%) saturate(900%) hue-rotate(10deg);
}

.swiper-pagination{
  color: white;
  font-family: "Cormorant", serif;
  font-size: 24px;
}
.swiper-button-disabled{
  filter: brightness(70%);
}